:root {
    /* variáveis css */
    --color-background: #F0F0F7;
    --color-primary-lighter: #3ee4fd;
    --color-primary-light: #4ed3fc;
    --color-primary: #00bad6;
    --color-primary-dark: #00C2E0;
    --color-primary-darker: #00a1b9;
    --color-secondary: #b0fa02;
    --color-secondary-dark: #99eb01;
    --color-title-in-primary: #FFFFFF;
    --color-text-in-primary: #c5f7ff;
    --color-text-title: #3a656b;
    --color-text-complement: #727177;
    --color-text-base: #64777a;
    --color-line-in-white: #E6E6F0;
    --color-input-background: #F8F8FC;
    --color-button-text: #FFFFFF;
    --color-box-base: #FFFFFF;
    --color-box-footer: #FAFAFC;
    --color-small-info: #C1BCCC;

    /* tamanho da fonte padrão: 16px - 100% - 1rem */
    font-size: 60%; /* controle das medidas rem */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
}

body {
    background-color: var(--color-background);
    display: flex;
    align-items: center;
    justify-content: center;
}

body,
input, 
button, 
textarea {
    font: 500 1.6rem Poppins;
    color: var(--color-text-base);
}

#container {
    width: 90vw;
    max-width: 700px;

}

@media (max-width: 699px){
    :root {
        font-size: 40%;
    }
}
@media (min-width: 700px) {
    :root {
        font-size: 62.5%; /* todo 1rem vai ser relativo a 10px */
    }
}
